__pycache__
.idea
.idea/
.vscode/

# in build
python-litehtml-build/pybind11/
python-litehtml-build/litehtml/
python-litehtml-build/Release/
python-litehtml-build/x64/
.vcxproj
.filters
.cmake
.sln
python-litehtml-build/CMakeCache.txt

